@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
body {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    background-color: #CCCCCC;
    font-family: 'Fuzzy Bubbles';
}

.logo {
    flex-grow: 8;
    margin-left: 10px;
}

.logo-texto {
    font-size: 20px;
    font-weight: bold;
}

.sub-item {
    flex-grow: 1;
    background-color: greenyellow;
    text-align: center;
}

.sub-item:hover {
    background-color: rgb(120, 194, 9);
}

.galeria {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.foto-pet {
    width: 300px;
    height: 300px;
    margin: 10px;
}

@media (max-width: 700px) {
    .nav-bar {
        flex-direction: column;
        background-color: white;
    }

    .logo {
        display: none;
    }

    .sub-item {
        margin-bottom: 2px;
    }

    .galeria {
        flex-direction: column;
        align-items: center;
    }
    
}